$colors: (
    green: #5B8C85,
    yellow: #ECCE6D,
    red: #FF6464,
    blue: #3E83B3,
    dark-grey: #30383B,
    grey-blue: #434e52,
    white: #EBEBEB,

    text-color-grey: #30383B,
    text-color-white: #EBEBEB,
    bg-white: #FFFFFF,
    bg-grey: #212121,
)
