@import "./variables/colors";
@import "./variables/typography";

:root {
    /*
     * Define color CSS variables
     */

    @each $name, $color in $colors {
        --c-#{'' + $name}: #{$color};
    }

    /* 
     * Define font and typography CSS variables
     */

    @each $name, $font-face in $font-faces {
        --ff-#{'' + $name}: #{$font-face};
    }

    @each $name, $font-size in $font-sizes {
        --fs-#{'' + $name}: #{$font-size};
    }

    @each $name, $font in $fonts {
        --f-#{'' + $name}: #{$font};
    }

    // set semantic colors for theme handling
    --c-text-color: var(--c-text-color-grey); 
    --c-background-color: var(--c-bg-white);

    @media (prefers-color-scheme: dark) {
        --c-text-color: var(--c-text-color-white);
        --c-background-color: var(--c-bg-grey);
    }
      
}