/**
 * Define global styling mixins for reusable styles
 */

@mixin backdrop-underline($color: "yellow", $height: 18px, $bottom: 10px) {
    position: relative;
    z-index: 0;

    &::after {
        content: "";
        background-color: var(--c-#{$color});
        height: $height;
        width: calc(100% + 12px);
        position: absolute;
        bottom: $bottom;
        left: -6px;
        z-index: -1;
    }
}

@import "./variables/breakpoints";

@mixin breakpoint-up($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @error "No value found for breakpoint `#{$breakpoint}` in $breakpoints map.";
    }
}

@mixin breakpoint-down($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (max-width: calc(#{map-get($breakpoints, $breakpoint)} - 1px)) {
        @content;
      }
    } @else {
      @error "No value found for breakpoint `#{$breakpoint}` in $breakpoints map.";
    }
}