@import "./css_variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css?family=Montserrat:800,900|Open+Sans:600,700&display=swap");

body {
    font: var(--f-main);
    color: var(--c-text-color);
    background-color: var(--c-background-color);
    margin: 0;
}

h1 {
    font: var(--f-h1);
    color: var(--c-text-color);
    margin: 0;
}

h2 {
    font: var(--f-h2);
    color: var(--c-text-color);
    margin: 0;
}

h3 {
    font: var(--f-h3);
    color: var(--c-text-color);
    margin: 0;
}

h4 {
    font: var(--f-h4);
    color: var(--c-text-color);
    margin: 0;
}

h5 {
    font: var(--f-h5);
    color: var(--c-text-color);
    margin: 0;
}

a {
    color: var(--c-green);
    text-decoration: underline;

    &:hover {
        opacity: 0.8;
    }
}